$color1: rgba(126, 176, 155, 1);
$color2: rgba(40, 103, 140, 1);
$color3: rgba(153, 100, 61, 1);
$color4: rgba(255, 241, 175, 1);
$color5: rgba(99, 101, 103, 1);

$background-color:$color2;
$font-color:$color4;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
 background-color:$background-color;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  background: cadetblue;
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


.validation-block{
  color: $font-color;
  margin:20px;
  padding:20px;
  border: transparentize($font-color,0.8) 1px solid;
  border-radius: 5px;
  align-items: center;
  height:120px;
  display: flex;
  flex-direction: row;
  .validation-block--result{
    height:80px;
    weight:80px;

    border: transparentize($font-color,0.3) 1px solid;
    border-radius: 5px;
    img {
      height:80%;
      weight:80%;
    }
  }
}
